<h1>Gefahrenstelle editieren</h1>
<div id="formular">
<%= render 'form' %>	
</div>
<div class="menu">
	<%= link_to 'Gefahrenstelle anzeigen', @spot %> |
	<%= link_to 'Zur vorherigen Seite', spots_path %>
</div>