$('#comments').html("<%= escape_javascript(render(@spot.comments)) %>");
$('#rating').html("<%= escape_javascript(render :partial => 'spots/rating', :locals => {:spot => @spot}) %> ");
$('#commentForm').html("<%= escape_javascript(render('comments/form')) %>");
$('#commentForm').hide('slow');
$('#commentButton').html('<button>Kommentieren</button>');